body {
  background-color: #318ce7;
  font-family: lato, sans-serif;
  color: white;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row-two,
.row-three {
  display: flex;
}

.column {
  width: calc(100% / 3);
  height: auto;
  background-color: white;
  border-radius: 50%;
  padding: 2rem;
  margin: 2rem 5.5rem 2rem 5.5rem;
}

.logo {
  max-width: 85px;
  vertical-align: middle;
}

h1,
h2 {
  font-weight: lighter;
}

.image-header {
  width: 100%;
  text-align: center;
  padding-right: 10%;
}

.row-one {
  text-align: center;
  margin-top: 5rem;
}

.statement {
  width: 80%;
  text-align: center;
  line-height: 1.5rem;
  margin-left: 5%;
}
