.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  right: 50px;
}

#charmander {
  /* your code here */
  position: relative;
  right: 50px;
  top: 25px;
}

#squirtle {
  /* your code here */
  position: relative;
  right: 50px;
  top: 65px;
}

#pikachu {
  /* your code here */
  position: relative;
  right: 40px;
  top: 115px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  right: 50px;
  top: 250px;
}
