button {
  color: white;
  background-color: blue;
  padding: 8px 35px;
  border-radius: 4px;
  font-size: larger;
  border: none;
  box-shadow: 0 2px 3px black;
}

.survey {
  padding: 15px 12px 30px 12px;
}

h2 {
  padding-bottom: 25px;
  font-family: arial, serif;
  font-weight: 800;
}

.modal-box {
  border: none;
  border-radius: 5px;
  text-align: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

.no-button {
  background-color: salmon;
  border-radius: 3px;
}
